
body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    padding: 20px;
}

header h1 {
    text-align: center;
}

#profile-pic {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

section {
    margin: 20px 0;
}

h2 {
    color: #2c3e50;
}

ul {
    list-style-type: square;
    margin-left: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 10px auto;
}

button:hover {
    background-color: #45a049;
}
